<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.bibliarij.assignment2gis.mappers.CityMapper">

    <!-- Get all entities -->
    <select id="getAllEntities" resultType="org.bibliarij.assignment2gis.entities.City">
        SELECT * FROM public.city;
    </select>

    <!-- Get entity by id -->
    <select id="getEntity" resultType="org.bibliarij.assignment2gis.entities.City">
        SELECT * FROM public.city city WHERE city.id = #{id};
    </select>

    <!-- Insert entity -->
    <insert
            id="insertEntity"
            parameterType="org.bibliarij.assignment2gis.entities.City"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id"
    >
        INSERT INTO public.city(name, area, population) VALUES (#{name}, #{area}, #{population});
    </insert>

    <!-- Update entity -->
    <update id="updateEntity" parameterType="org.bibliarij.assignment2gis.entities.City">
        UPDATE public.city SET area = #{area}, name = #{name}, population = #{population} WHERE id = #{id}
    </update>
</mapper>