<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- MyBatis mapper for Street entity -->
<mapper namespace="org.bibliarij.assignment2gis.mappers.StreetMapper">

    <!-- Get all entities -->
    <select id="getAllEntities" resultType="org.bibliarij.assignment2gis.entities.Street">
        SELECT * FROM public.street street ORDER BY street.id;
    </select>

    <!-- Get entity by id -->
    <select id="get" resultType="org.bibliarij.assignment2gis.entities.Street">
        SELECT * FROM public.street street WHERE street.id = #{id};
    </select>

    <!-- Insert entity -->
    <insert
            id="insert"
            parameterType="org.bibliarij.assignment2gis.entities.Street"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id"
    >
        INSERT INTO public.street(name, length) VALUES (#{name}, #{length});
    </insert>

    <!-- Update entity -->
    <update id="update" parameterType="org.bibliarij.assignment2gis.entities.Street">
        UPDATE public.street SET name = #{name}, length = #{length} WHERE id = #{id};
    </update>
</mapper>